* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f5f5f5;
}

header {
    padding: 16px 0;
    color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
    font-style: italic;
}

form {
    max-width: 500px;
    background-color: #ecebeb;
    padding: 24px 0;
    text-align: center;
    padding: 16px 32px;
    margin: 0 auto;
    position: relative;
    border-radius: 4px;
}

form h2 {
    margin-bottom: 16px;
    color: #1e1e1e;
}

input,
button {
    padding: 8px 16px;
    margin: 4px 0;
}

input {
    border: 1px solid #161616;
    border-radius: 20px;
    color: #CCC;
}

input:focus {
    outline-color: #d3d3d3;
}

input::placeholder {
    color: #161616;
}

button {
    background-color: #1E1E1E;
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    width: max-content;
    border-radius: 20px;
}

button:hover {
    border-color: #161616;
    transform: translateY(1px);
}

button#fechar {
    position: absolute;
    padding: 4px 8px;
    top: 8px;
    right: 8px;
}

button.excluir {
    background-color: transparent;
    border: none;
    color: #161616;
    width: 18px;
    height: 12px;
    padding: 2px 4px;
    position: relative;
}

button.excluir::before,
button.excluir::after {
    content: '';
    width: 8px;
    height: 2px;
    background-color: #161616;
    position: absolute;
    transform:rotate(45deg);
}

button.excluir::before {
    transform:rotate(-45deg);
}

ul {
    max-width: 500px;
    margin: auto;
    padding: 16px 0;
}

ul li {
    margin: 8px 0;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    color: #161616;
    user-select:none;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    padding: 8px 16px;
}

ul li.checked {
    text-decoration: line-through;
    color: #CCC;
    opacity: .6;
}

ul li.checked .excluir {
    color: #CCC;
    opacity: .6;
}

ul li.checked input {
    background-color: #CCC;
    color: #CCC;
}